.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #212121;
}
.logo-studio-two {
  color: #ffffff;
}